-content_for :head do
  =stylesheet_link_tag 'home'
  =javascript_include_tag 'home'

%nav
  %ul
    %li{:target => 'about_project',:event => 'popup'} O projekcie
    %li{:target => 'login',:event => 'popup'} Logowanie
    %li{:target => 'register',:event => 'popup'} Rejestracja

%h1.main_logo.hide BIQMAP1

.popup.login
  =render 'home/render/login'

.popup.register
  =render 'home/render/register'

.popup.about_project.window
  =render 'home/render/about_project'
