/* line 1, /media/sf_ruby.local/test/biqmap/app/assets/stylesheets/admin/excel.scss.erb */
#upload_box {
  width: 200px;
  height: 200px;
  border: 5px dotted red;
  margin: 50px auto;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
/* line 9, /media/sf_ruby.local/test/biqmap/app/assets/stylesheets/admin/excel.scss.erb */
#upload_box:hover {
  background: rgba(255, 255, 255, 0.4);
}

/* line 14, /media/sf_ruby.local/test/biqmap/app/assets/stylesheets/admin/excel.scss.erb */
.excel_list {
  width: 100%;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 100px;
  background: url("/assets/preloader3-4089683aa1590dc92aeda4431214f0365ba5d08a5c1aa8b598e96d2d1a18ddaf.gif") no-repeat center;
  background-size: 60px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
/* line 26, /media/sf_ruby.local/test/biqmap/app/assets/stylesheets/admin/excel.scss.erb */
.excel_list .file {
  width: 100px;
  height: auto;
  min-height: 100px;
  background-image: url("/assets/excel-64491d8b5640061cb9e2c79d1043b2a3a23a13eacda54531cb70be1b477d3205.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100px;
  margin: 10px;
  float: left;
  cursor: pointer;
  position: relative;
  display: none;
  border-top: 5px solid transparent;
}
/* line 43, /media/sf_ruby.local/test/biqmap/app/assets/stylesheets/admin/excel.scss.erb */
.excel_list .file:hover:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.2);
}
/* line 54, /media/sf_ruby.local/test/biqmap/app/assets/stylesheets/admin/excel.scss.erb */
.excel_list .file span {
  display: block;
  padding-top: 105px;
  text-align: center;
  font-style: italic;
  word-break: break-all;
  width: 100px;
}
/* line 64, /media/sf_ruby.local/test/biqmap/app/assets/stylesheets/admin/excel.scss.erb */
.excel_list .file.add {
  background-image: url("/assets/excel_add-b5f494379740ec4a928bbe607286b96ffa9f8c3baf1ccb911d3e3c3d2286a07a.jpg");
}
