%h2 Panel Rejestracji
.alert
%table
  %tr
    %td
      %label login:
    %td
      %input{:name => "login", :type => "text"}
  %tr
    %td
      %label email:
    %td
      %input{:name => "email", :type => "text"}
  %tr
    %td
      %label hasło:
    %td
      %input{:name => "password", :type => "password"}
  %tr
    %td{:colspan => "2"}
      %span.button zarejestruj się
