!!!
%html

  %head
    %title Biqmap
    =yield :head
    =csrf_meta_tags
    %script
      ="var authenticity_token = '#{form_authenticity_token}'"
  %body
    =yield
    %footer Marcin Gębala - BIQdata 2015
